<div id="main-banner" class="jumbotron">
  <h1>
    Watch List
  </h1>
</div>
<div class="navbar px-4">
  <h1>
    Watch List
  </h1>
  <%= link_to new_list_path do %>
    <span class="btn btn-secondary rounded">New List</span>
  <% end %>
</div>
<div class="container">
  <% @lists.each do |list| %>
    <div class="container">
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>
